body {
	font: normal 14px sans-serif;
}

div#table {
	position: relative;
	height: 400px;
	width: 900px;
}
div#table div.seat {
	position: absolute;
}
div#table div.seat h3 {
	text-align: center;
}
div#table #dealer {
	position: absolute;
	top: 10px;
	left: 340px;
}
div#table #seat1 {
	top: 140px;
	left: 10px;
}
div#table #seat2 {
	top: 220px;
	left: 140px;
}
div#table #seat3 {
	top: 320px;
	left: 170px;
}
div#table #seat4 {
	top: 320px;
	left: 500px;
}
div#table #seat5 {
	top: 220px;
	left: 530px;
}
div#table #seat6 {
	top: 140px;
	left: 660px;
}

div#table div.seat div.cards {
	float: left;
	height: 50px;
}
div#table div.seat div.cards div.card {
	margin-right: 3px;
}
div#table div.seat div.cards div.card:last-child {
	margin-right: 0px;
}
div#table div.seat div.cards div.card {
	width: 36px;
	height: 48px;
	float: left;
	background-color: grey;
}
div#table div.seat div.money {
	clear: left;
	width: 100px;
	height: 20px;
}

div#messages {
	position: absolute;
	top: 280px;
	left: 200px;
	height: 60px;
	width: 360px;
}
div#messages p {
	margin: 5px 0px;
	padding: 0px;
	font-size: 14px;
}